.areacard {
    background: white;
    border: 0.0625rem solid rgba(144, 202, 249, 0.46);
    border-radius: 23px;
    padding: 1rem;
    margin: 4rem;
    text-align: center;
}

.new_title {
    color: white;
    background: rgb(103, 58, 183);
    border: 0.0625rem solid rgba(144, 202, 249, 0.46);
    border-radius: 23px;
    padding: 1rem;
    margin: 0rem;
    margin-bottom: 2rem;
    text-align: center;
}

nav {
    display: inline-block;
    align-items: center;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    padding-left: 0rem;

}

nav ul li {
    --c: rgb(103, 58, 183);
    color: var(--c);
    font-size: 0.95em;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: white;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}